.full-screen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.toolbar {
  position: absolute;
  margin-top: 5px;
  padding: 5px;
  font: inherit;
  width: 35%;
  background-color: #dfdddd;
  top: 0;
  left: 45%;
  transform: translateX(-50%);
  padding: 12px;
  position: sticky;
  z-index: 100;
  border: none;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
}


.toolbar button {
  margin-right: 12px;
  cursor: pointer;
  border: none;
  background: none;
}

.toolbar input {
  margin-right: 10px;
}

.file-upload-label {
  display: inline-block;
  cursor: pointer;
}

.file-upload-label input {
  display: none;
}

.uploaded-file {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.excel-content {
  margin: 0px 30px;
}

.excel-sheet {
  overflow-x: auto;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}